<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Ejs</title>
  </head>
  <body>
    <h1>About Ejs File</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
      repellat veritatis iure!
    </p>
  </body>
</html>
